global:
  scrape_interval: 1s

scrape_configs:
  - job_name: 'ntpd-rs'
    static_configs:
      - targets: [ '{{ e1.ntpd_rs }}', '{{ e2.ntpd_rs }}' ]
  - job_name: 'statime'
    static_configs:
      - targets: [ '{{ e1.statime }}', '{{ e2.statime }}' ]
