[observability]
log-level = "info"
observation-path = "/var/run/ntpd-rs/observe"

[[server]]
listen = "[::]:123"

[[nts-ke-server]]
listen = "[::]:4460"
certificate-chain-path = "/etc/ntpd-rs/tls/cert.pem"
private-key-path = "/etc/ntpd-rs/tls/key.pem"

[keyset]
key-storage-path = "/var/lib/ntpd-rs/keyset"

[synchronization]
local-stratum = 1
