loglevel = "info"

# ptp network to participate in
sdo-id = 0
domain = 0
priority1 = 255
priority2 = 255

[observability]
observation-path = "/var/run/statime/observe"
metrics-exporter-listen = "{{ metrics_listen.statime }}"

[[port]]
interface = "{{ uplink_interface }}"
network-mode = "ethernet" # can be ipv4, ipv6, or ethernet
# If the network interface has hardware clock support, you can enable it
# (see ethtool -T {{ uplink_interface }})
hardware-clock = {{ ptp_hw_clock }}
{% if acceptable_masters|length > 0 %}
acceptable-master-list = ["{{ acceptable_masters | join('", "') }}"]
{% endif %}