loglevel = "info"

# ptp network to participate in
sdo-id = {{ statime_sdo_id }}
domain = {{ statime_domain }}
priority1 = 255
priority2 = 255
slave-only = true

[observability]
observation-path = "/var/run/statime/observe"
metrics-exporter-listen = "{{ metrics_listen.statime }}"

[[port]]
interface = "{{ statime_uplink_interface }}"
network-mode = "{{ statime_network_mode }}" # can be ipv4, ipv6, or ethernet
# If the network interface has hardware clock support, this is enabled by default
# (see ethtool -T {{ statime_uplink_interface }})
hardware-clock = "auto"
{% if statime_acceptable_masters|length > 0 %}
acceptable-master-list = ["{{ statime_acceptable_masters | join('", "') }}"]
{% endif %}
